@{
    ViewData["Title"] = "Cadastro de usuário";
}
<center>
<h1>Cadastro de usuário</h1>
</center>

<form>
    <table>
        <tr>
            <th><label class="form-label">Nome completo</label></th>
            <th colspan="5"><input type="text" size="70" /></th>
            
        </tr>
    
        <tr>
            <td><label class="form-label">Usuário</label></td>
            <td><input type="text" size="15" /></td>
            <td><label>&emsp;Senha</label></td>
            <td><input type="text" size="10" /></td>
            <td><label>&emsp;Repetir senha</label></td>
            <td><input type="text" size="10" /></td>
        </tr>
   
        <tr>
            <th><label class="form-label">Email</label></th>
            <th><input type="text" size="20" /></th>
            <th><label>&emsp;Telefone</label></th''>
            <th><input type="text" size="10" /></th>
        </tr>

    <<tr>
            <td><label class="form-label">Endereço</label></td>
            <td><input type="text" size="30" /></td>
            <td><label>&emsp;Número</label></td>
            <td><input type="text" size="5" /></td>
        </tr>

    <tr>
            <td><label class="form-label">Bairro</label></td>
            <td><input type="text" size="30" /></td>
            <td><label>&emsp;CEP</label></td>
            <td><input type="text" size="10" /></td>
    </tr>
    <div class="mb-3">
        <input type="Button" value="Adicionar" />
    </div>
    </table>
</form>
