@{
    ViewData["Title"] = "Página de ajuda";
}
<center>
<h1>Central de ajuda</h1>
</center>
<br>
<p>A Compra Fácil é um Marketplace para a oferta de diversos produtos voltado para todos os tipos de compradores e vendedores.</p>
<p>Os produtos vendidos são confiáveis, pois cada produto e cada vendedor é interrogado miniciosamente para que somente
   assim, ele possa se tornar nosso cliente.</p>
<p>Nossa equipe é formada por profissionais criteriosamente selecionados, tudo isso para oferecer o melhor serviço de 
   marketplace.</p>
<p>Nossa principal missão é ganhar a confiança do cliente, oferecer um marketplace de qualidade e com valores super acessíveis
   para as mais diversas categorias de produtos.</p>
<br>
<center>
<p> Junte-se a nós e faça parte da Compra Fácil</p>
<br>
<p>Email: centralajuda@comprafacil.com.br</p>
<p>Contato: (11) 3568-9288</p>
</center>
<br>
<p>Endereço: Rua Manuel do Nascimento, N 54, Bairro Maria Lopes, São Sebastião - SP</p> 