@{
    ViewData["Title"] = "Home Page";
}

    <form>
            <input name="pequisa" size="50" type="search"/>
            <button>Buscar</button>
    &emsp;<a class="conta" asp-controller="Home" asp-action="AddUsuario">Criar conta</a>&emsp;

    <a class="login" asp-controller="Home" asp-action="LoginUsuario">Login</a> &emsp;

    <a class="ajuda" asp-controller="Home" asp-action="Ajuda">Ajuda</a> &emsp;

    <a class="ajuda" asp-controller="Home" asp-action="Carrinho">Carrinho de compra</a>
    </form>
    <br><br>

    <table>
        <tr>
        <td>Nobebooks</td>
        <td>Games</td>
            <td>Roupas</td>
            <td>Carros</td>
        </tr>

         <tr>
        <td><a asp-controller="Home" asp-action="Prod1notebook"><img src="~/notebooks.jpg" width="200" height="150" /></a></td>
        <td><a asp-controller="Home" asp-action="Prod1game"><img src="~/game.jpg" width="200" height="150" /></a></td>
        <td><a asp-controller="Home" asp-action="Prod1roupa"><img src="~/roupa.jpg" width="200" height="150" /></a></td>
        <td><a asp-controller="Home" asp-action="Prod1carro"><img src="~/carro.jpg" width="200" height="150" /></a></td>
        </tr>
    <tr>
        <td><br>Smartphones</td>
        <td>Livros</td>
        <td>Móveis</td>
        <td>Eletrodomésticos</td>
    </tr>
    <tr>
        <td><a asp-controller="Home" asp-action="Prod1smartphone"><img src="~/smartphone.jpg" width="200" height="150" /></a></td>
        <td><a asp-controller="Home" asp-action="Prod1livro"><img src="~/livro.jpg" width="200" height="150" /></a></td>
        <td><a asp-controller="Home" asp-action="Prod1movel"><img src="~/movel.jpg" width="200" height="150" /></a></td>
        <td><a asp-controller="Home" asp-action="Prod1eletrodomestico"><img src="~/eletrodomestico.jpg" width="200" height="150" /></a></td>
    </tr>
     </table>
    

