@{
    ViewData["Title"] = "Home Page";
}

    <form>
            <input name="pequisa" size="50" type="search"/>
            <button>Buscar</button>
    &emsp;<a class="conta" href="Conta de usuário">Criar conta</a>&emsp;

    <a class="login" href="Login de usuário">Login</a> &emsp;

    <a class="ajuda" href="Ajuda ao usuário">Ajuda</a>
    </form>
    

