@{
    ViewData["Title"] = "Home Page";
}

<form>
    <input name="pequisa" size="50" type="search" />
    <button>Buscar</button>
    &emsp;
    <a class="conta" asp-controller="User" asp-action="AddUsuario">Criar conta</a>&emsp;

    <a class="login" asp-controller="User" asp-action="LoginUsuario">Login</a> &emsp;

    <a class="ajuda" asp-controller="Home" asp-action="Ajuda">Ajuda</a> &emsp;

    <a class="ajuda" asp-controller="Home" asp-action="Carrinho">Carrinho de compra</a>
</form>
<br>
<br>

<table>
    <tr>
        <td>Carros</td>
    </tr>

    <tr>
        <td><a asp-controller="Product" asp-action="Prod1carro"><img src="~/carro.jpg" width="200" height="150" /></a></td>
    </tr>

</table>


