@{
    ViewData["Title"] = "Login de usuário";
}
<center>
<h1>Login de usuário</h1>

<br><br>
<form>
    <div>
            <label>Login&nbsp;</label>
        <input type="text" id="login" size="30">
    </div>
    <br>
    <div>
    
        <label>Senha</label>
        <input type="password" size="30">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
</center>