@{
    ViewData["Title"] = "Notebook";
}
<center>
<h1>Notebook Samsung 15</h1>
<br>

<img src="~/prod1notebook.png" width="350" height="250">
<br>

<p>R$ 2.699,00</p>
<b></b>

    <p>Especificações</p>

    <p>11ª geração Intel® Core™ i5-1135G7 (cache de 8MB, até 4.2GHz), Ubuntu Linux 20.04, Intel® UHD com memória gráfica compartilhada,
        8GB DDR4 (1x8GB) 3200MT/s; Expansível até 16GB (2 slots soDIMM), SSD de 512GB PCIe NVMe M.2, 
        Full HD de 15.6" (1920 x 1080), 120 Hz, WVA, Carbon Black - Preto Carbono, Teclado numérico padrão em português.
    </p>
<br />

    <button type="submit" class="btn btn-success">Adicionar ao Carrinho</button>
</center>
