@{
    ViewData["Title"] = "Eletrodomestico";
}
<center>
    <h1>Geladeira Frost Free Brastemp</h1>
    <br>

    <img src="~/prod1eletrodomestico.png" width="350" height="250">
    <br>

    <p>R$ 4.99,00</p>
    <b></b>

    <p>Especificações</p>

    <p>Marca do produto: Brastemp, Voltagem: 110 volts, Capacidade: 443 litros.</p>
    <br />

    <button type="submit" class="btn btn-success">Adicionar ao Carrinho</button>
</center>
