@{
    ViewData["Title"] = "livro";
}
<center>
    <h1>Livro</h1>
    <br>

    <img src="~/prod1livro.png" width="350" height="250">
    <br>

    <p>R$ 39,90</p>
    <b></b>

    <p>Especificações</p>

    <p>
       Luluca - Sonhar e Realizar: Atenção: este livro foi impresso com quatro capas diferentes. Porém, o conteúdo da obra é o mesmo. 
       Canoa, Grampeado ou Costurado – 3 julho 2023 
    </p>
    <br />

    <button type="submit" class="btn btn-success">Adicionar ao Carrinho</button>
</center>
