@{
    ViewData["Title"] = "Moveis";
}
<center>
    <h1>Sofá</h1>
    <br>

    <img src="~/prod1movel.png" width="350" height="250">
    <br>

    <p>R$ 1.444,00</p>
    <b></b>

    <p>Especificações</p>

    <p>
       Sofá 2 Lug. 1,80m Ret. e Reclinável Matteo Bom Pastor Azul.
    </p>
    <br />

    <button type="submit" class="btn btn-success">Adicionar ao Carrinho</button>
</center>
