@{
    ViewData["Title"] = "Game";
}
<center>
    <h1>Video Game</h1>
    <br>

    <img src="~/prod1game.jpg" width="350" height="250">
    <br>

    <p>R$ 299,00</p>
    <b></b>

    <p>Especificações</p>

    <p>
        Vídeo Game Retro 93.000 mil Jogos 2 Controles Console de jogos 64GB.  Vídeo Game Retro possui imagens e descrição
         dos jogos para facilitar a escolha na listas de sistemas e com menus em português Produto produzido no Brasil
    </p>
    <br />

    <button type="submit" class="btn btn-success">Adicionar ao Carrinho</button>
</center>
