@{
    ViewData["Title"] = "Roupa";
}
<center>
    <h1>Kit Atleta Completo: Máxima Performance</h1>
    <br>

    <img src="~/prod1roupa.png" width="350" height="250">
    <br>

    <p>R$ 209,00</p>
    <b></b>

    <p>Especificações</p>

    <p>
        Apresentamos o Kit de Camisetas Dry, ideal para os dias de treino. Composto por cinco camisetas de alta qualidade, 
        cada uma projetada para atender às necessidades específicas de cada dia da semana, esse kit oferece conforto, estilo e 
        desempenho excepcionais.
    </p>
    <br />

    <button type="submit" class="btn btn-success">Adicionar ao Carrinho</button>
</center>
