@{
    ViewData["Title"] = "Smartphone";
}
<center>
    <h1>Smartphone Samsung Galaxy</h1>
    <br>

    <img src="~/prod1smartphone.png" width="350" height="250">
    <br>

    <p>R$ 4.999,00</p>
    <b></b>

    <p>Especificações</p>

    <p>
        Samsung Galaxy S23 Ultra 5G 256GB Tela 6.8'' 12GB RAM IP68 Processador Qualcomm Snapdragon 8 Gen 2 Câmera Quádrupla
        de até 200MP + Selfie 12MP - Preto
    </p>
    <br />

    <button type="submit" class="btn btn-success">Adicionar ao Carrinho</button>
</center>
